{% extends "layout.html" %}
{% block content %}


<p>Addddd an event to the farm!</p>
<form method="POST" action="" class="flex flex-col pt-3 md:pt-8" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="flex flex-col pt-2">
	        <!-- NAME LABEL + FORM -->
	        <label for="name" class="text-md">Name of your event?</label>
	        {% if form.name.errors %}
	            {{ form.name(class="shadow appearance-none border rounded w-full py-2 px-3 text-red-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	            <div class="text-fever">
	                {% for error in form.name.errors %}
	                    <br>
	                    <span class="text-fever italic">{{ error }}</span>
	                {% endfor %}
	            </div>
	        {% else %}
	            {{ form.name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	        {% endif %}
	    </div>
	    <div class="flex flex-col pt-2">
	        <!-- CONTENT LABEL + FORM -->
	        <label for="content" class="text-md">content of your event?</label>
	        {% if form.content.errors %}
	            {{ form.content(class="shadow appearance-none border rounded w-full py-2 px-3 text-red-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	            <div class="text-fever">
	                {% for error in form.content.errors %}
	                    <br>
	                    <span class="text-fever italic">{{ error }}</span>
	                {% endfor %}
	            </div>
	        {% else %}
	            {{ form.content(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	        {% endif %}
	    </div>
	    <!-- START LABEL + FORM -->
	    <div class="flex flex-col pt-2">
	        <label for="start" class="text-md">Starts when?</label>
	        {% if form.start.errors %}
	            {{ form.start(class="shadow appearance-none border rounded w-full py-2 px-3 text-red-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	            <div class="text-fever"><!--was invalid feedback class on bootstrap-->
	                {% for error in form.start.errors %}
	                    <span class="text-fever italic">{{ error }}</span>
	                {% endfor %}
	            </div>
	        {% else %}
	            {{ form.start(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	        {% endif %}
	    </div>
	    <!-- END LABEL + FORM -->
	    <div class="flex flex-col pt-2">
	        <label for="end" class="text-md">Ends when?</label>
	        {% if form.end.errors %}
	            {{ form.end(class="shadow appearance-none border rounded w-full py-2 px-3 text-red-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	            <div class="text-fever"><!--was invalid feedback class on bootstrap-->
	                {% for error in form.end.errors %}
	                    <span class="text-fever italic">{{ error }}</span>
	                {% endfor %}
	            </div>
	        {% else %}
	            {{ form.end(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline") }}
	        {% endif %}
	    </div>
	    <input type="submit" value="Add event to farm" class="text-black font-bold uppercase text-md p-2 mt-8" />
	</form>  


{% endblock content %}


<!--!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New event</title>
</head>
<body>
	<input type="text">
	<ul></ul>
	<script src="{{ url_for('static', filename='todo.js') }}"></script>
</body>
</html>-->