{% extends "layout.html" %}
{% block content %}
<div class="text-4xl">
    <div class="flex justify-center text-[18px] pt-8 tracking-wide"><i>Browse by event or choose a season:</i></div>
    <div class="flex justify-center font-bungee text-wine hover:text-marigold">Summer 2022</div>
    <div class="flex justify-center font-bungee text-fever hover:text-marigold">Summer 2021</div>
    <div class="flex justify-center font-bungee text-longhorn hover:text-marigold">Summer 2020</div>
    <div class="flex justify-center font-bungee text-clem hover:text-marigold">- VINTAGE -</div>
</div>
{% endblock content %}