{% extends "layout.html" %}
{% block content %}

<div class="text-md bold font-libre text-fever">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <br>
                    {{  message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div> 

<div class="flex-auto bg-darkcru shadow-[0_2px_4px_2px_rgba(0,0,0,0.25)] pl-6 py-3 my-6 leading-8">
	<div class="font-bitter lowercase text-mulberry text-[14px]">{{ post.date_posted.strftime('%B %d, %Y') }}</div>
	<p class="font-bitter uppercase font-bold text-mulberry text-[48px]"> {{ post.title }}</p>
	<p class="leading-7 px-8 mt-5 whitespace-pre-wrap">{{ post.content }}</p>
	<div class="font-bungee text-right uppercase text-clem text-[22px] mx-2">- {{ post.author.first_name }} {{post.author.last_name}}
		<span class="inline-flex items-center"><img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="user image" class="self-center w-10 h-10 rounded-full mx-1"/></span>
	</div>

{% if post.author == current_user %}
	<div>
		<a class="px-4 py-2.5 bg-marigold font-plex text-xs text-white leading-tight uppercase rounded shadow-md hover:bg-mulberry hover:shadow-lg focus:bg-mulberry focus:shadow-lg focus:outline-none focus:ring-0 active:bg-fever active:shadow-lg transition duration-500 ease-in-out" href="{{ url_for('update_post', post_id = post.id) }}">Edit</a>

		<button type="button" class="modal-open px-4 py-2.5 bg-marigold font-plex text-xs text-white leading-tight uppercase rounded shadow-md hover:bg-mulberry hover:shadow-lg focus:bg-mulberry focus:shadow-lg focus:outline-none focus:ring-0 active:bg-fever active:shadow-lg transition duration-500 ease-in-out">Delete</a>
			<!--Need to add a modal delete link here!-->
	</div>

{% endif %}

</div>

<!-- Modal tbd -->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-[#000000] opacity-90"></div>
    
    <div class="modal-container bg-mulberry w-11/12 md:max-w-md mx-auto rounded shadow-md z-50 overflow-y-auto">

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left text-white px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl italic">Are you sure?</p>
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Body-->
        <p>Do you really want to erase your helpful/genius/hilarious post?</p>
        <p>You can't undo this.</p>

        <!--Footer-->
        <div class="flex justify-end pt-2">
        	<form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
        		<input class="px-4 bg-transparent p-3 rounded-lg bold text-clem hover:text-marigold mr-2" type="submit" value="Yep, kill it">
        	</form>
          <button class="mpx-4 bg-transparent p-3 rounded-lg italic text-clem hover:text-marigold">Never mind</button>
        </div>
        
      </div>
    </div>
  </div>

 <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	event.preventDefault()
    	toggleModal()
      })
    }
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
    	isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
    	isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	toggleModal()
      }
    };
    
    
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
    
     
  </script>


{% endblock content %}