{% extends "layout.html" %}
{% block content %}
    <div class="font-bitter text-[48px] leading-[54px]">There are three branches represented at Kenwood: The <span class="font-bold hover:text-rust">Charvotts</span>, the <span class="font-bold hover:text-clem">Mathews</span>, and the <span class="font-bold hover:text-marigold">Driscolls.</span></div>
    <div class="text-[18px] pt-8 tracking-wide"><i>To get started, click on the</i><b> surname </b><i>above that you’d like to explore. You can see additional children and families by clicking on names.</i></div>
{% endblock content %}